WrapTest/WrapTest/WrapTest.csproj.Debug.cachefile
WrapTest/WrapTest/obj
WrapTest/WrapTestContent/obj
WrapTest/WrapTest/bin
WrapTest/WrapTestContent/WrapTestContent.contentproj.user
_ReSharper.WrapTest
*.userprefs
*.suo
Thumbs.db
*.csproj.user
